<p-table [value]="usuarios">
  <ng-template pTemplate="header">
      <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
      <tr>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.email}}</td>
          <td>
            <button pButton class="ui-button-danger" (click)="deletar(usuario.id)" label="Deletar"></button>
          </td>
          
      </tr>
  </ng-template>
</p-table >
<button pButton routerLink="add" label="Add">
</button>
<p-confirmDialog #cd header="Atenção" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Não!" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Sim!" (click)="cd.accept()"></button>
</p-footer>
</p-confirmDialog>
